# Tapo H200 網關設定
TAPO_HOST=192.168.1.100
TAPO_USERNAME=your_email@example.com
TAPO_PASSWORD=your_password

# CrateDB 資料庫設定
CRATEDB_HOST=cratedb
CRATEDB_PORT=4200

# 資料收集設定
COLLECTION_INTERVAL=60

# 日誌設定
LOG_LEVEL=INFO

# 時區設定
TZ=Asia/Taipei

# Cloudflare Tunnel Token
# CLOUDFLARE_TUNNEL_TOKEN=your_tunnel_token_here
TUNNEL_TOKEN=your_tunnel_token_here

# Superset 設定
# SUPERSET_SECRET_KEY: openssl rand -base64 42
SUPERSET_SECRET_KEY=your_secret_key_needs_to_be_complex
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com

# Superset PG
SUPERSET_POSTGRES_DB=superset_DB
SUPERSET_POSTGRES_USER=superset
SUPERSET_POSTGRES_PASSWORD=superset_PW